langchain
PyPDF2
langchain_community
sentence_transformers
langchain_groq
langchain_huggingface
faiss-cpu
pypdf
youtube-transcript-api
streamlit
bs4
fastapi
uvicorn[standard]
unstructured==0.16.5
pypandoc
pandoc
fpdf